body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2D2D2A;
}

nav {
    position: fixed;
    background-color: #3F5E5A;
    height: 100px;
    width: 100%; 
}

nav ul {
    text-align: right;
    margin-top: 25px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #20FC8F;
    text-decoration: none;
    font-size: 40px;
    margin-right: 60px;
}

nav ul li:nth-child(5) {
    margin-right: -20px;
}
